@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

        <a asp-controller="Home" asp-action="Show">Evenly Divide By 3,5 </a>

    </div>
</div>
</div>
